@use 'variaveis';

.shows {
    background-image: url(/landing_page/dist/images/footer_fog.png), url(/landing_page/dist/images/base/bg_light.png), url(../images/base/bg_base.jpg);
    width: 100%;
    background-size: auto,100% auto,cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom,right top,center;
    background-repeat: repeat-x,no-repeat,no-repeat;

    &__tabmenu {
        display: flex;
        justify-content: center;
        position: relative;

        a {
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            margin-top: 60px;
        }

        &__list{
            text-transform: uppercase;

            &--is-active a {
                color: red;
                transition: color 0.5s ease;
            }

            &--item {
                position: relative;
            }

            &--item::before {
                content: "/";
                position: absolute;
                left: 0;
                bottom: 5px;
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }
    }

    img {
        width: 577px;
        margin-bottom: 2em;
    }

    &__story-intro {
        display: block;
        margin-top: 10px;
        height: 80vh;

        &--hidden {
            display: none;
        }

        &__text1 {
            padding-left: 2em;
            margin-bottom: 2em;
        }
    
            &--text2 {
                padding-left: 12em;
                margin-bottom: 2em;
            }
    }

    &__story-episode {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 840px;
        }

        &__visual {
            align-self: flex-start;
            margin-bottom: 50px;
        }

        &--hidden {
            display: none;
        }

    }

    &__story-nhk {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 840px;
        }

        &__visual {
            align-self: flex-start;
            margin-bottom: 50px;
        }

        &--hidden {
            display: none;
        }
    }

    &__footer {
        margin-top: 8rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;

        &__content {
            max-width: 1200px;
            grid-template-columns: 200px auto auto;
            margin: 0 auto;
            grid-template-rows: 1rem;
            display: grid;

            &__share {
                display: flex;
                justify-content: flex-end;
            }

            &__sharebutton {
                display: flex;
                width: 35px;
                font-size: 18px;
                padding-top: 5px;

                i:before {
                    color: #fff;
                    cursor: pointer;
                }
            }
        }

        &__logo {
            margin-top: -3%;
            grid-row: 1/span 2;
            text-align: center;

            img {
                width: 250px;
            }
        }

        &__menu {
            align-items: center;
            display: block;
            padding-left: 100px;
        }

        &__mainmenu {
            display: flex;

            &__link, a {
                padding-right: 1rem;
                display: block;
                text-decoration: none;
            }
        }

        &__copyright {
            margin-top: 10px;
        }
    }
}
