@use 'variaveis';

.shows {
    width: 100vw;
    background-image: url(../images/base/bg_base.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    &__tabmenu {
        display: flex;
        justify-content: center;
        position: relative;

        a {
            display: block;
            padding: 0.5em 1em;
            text-decoration: none;
            margin-top: 60px;
        }

        &__list{
            text-transform: uppercase;

            &--is-active a {
                color: red;
                transition: color 0.5s ease;
            }

            &--item {
                position: relative;
            }

            &--item::before {
                content: "/";
                position: absolute;
                left: 0;
                bottom: 5px;
                transform: translate(-50%, -50%);
                color: #fff;
            }
        }
    }

    img {
        width: 577px;
        margin-bottom: 2em;
    }

    &__story-intro {
        display: block;
        margin-top: 10px;
        height: 80vh;

        &--hidden {
            display: none;
        }

        &__text1 {
            padding-left: 2em;
            margin-bottom: 2em;
        }
    
            &--text2 {
                padding-left: 12em;
                margin-bottom: 2em;
            }
    }

    &__story-episode {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 840px;
        }

        &__visual {
            align-self: flex-start;
            margin-bottom: 50px;
        }

        &--hidden {
            display: none;
        }

    }

    &__story-nhk {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            width: 840px;
        }

        &__visual {
            align-self: flex-start;
            margin-bottom: 50px;
        }

        &--hidden {
            display: none;
        }
    }

    &__footer {
        padding: 20px 0;
        margin-top: 8rem;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 4rem;

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
        }

        &__logo {
            text-align: center;
            margin-top: -5%;

            img {
                width: 250px;
                height: auto;
            }
        }

        &__mainmenu {
            list-style-type: none;
            padding: 0;
            display: flex;

            &__item:not(:last-child) {
                margin-right: 20px;
            }

            &__link {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
            }


            a {
                text-decoration: none;
            }
        }

        &__copyright {
            text-align: center;
            margin-top: 20px;
        }
    }
}


